/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, span h2,
p, form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
  line-height: inherit;
 }

 html {
   line-height: 1;
 }

 body {
   box-sizing: content-box;
   color: #000;
   font-size: 16px;
   font-family: sans-serif;
   overflow: hidden;
 }

 .group:after {
   content: '';
   display: block;
   clear: both;
 }

 input {
   background: #FFFFFF;
 }

 ul {
   list-style: none;
 }

 h1, h2, h3, h4, h5, h6 {
   line-height: 24px;
   color: #555;
   font-weight: normal;
 }

 /* Sign Up Header */

 .sign-up-header {
   height: 71px;
   background: #f1f1f1;
   border-bottom: 1px solid #e5e5e5;
   overflow: hidden;
   font-size: 81.25%;
   color: #333;
   line-height: 1;
 }

 .sign-up-nav {
   padding: 0 44px;
 }

 .sign-in-from-sign-up {
   float: right;
   margin-top: 22px;
   line-height: 1;
   color: #F8FFFF;
   background: #488BF9;
   padding: 8px 12px;
   border-radius: 2px;
 }

 /* Sign Up Content Box  */

 .sign-up-content {
   width: 950px;
   margin: 0 auto;
   padding: 23px 44px 100px;
 }

 .sign-up-title {
   font-size: 38px;
   font-weight: 300;
   margin-top: 27px;
   margin-bottom: 50px;
   color: #555;
   text-align: center;
 }

 /* Sign Up Sidebar */

 .sign-up-sidebar {
   float: left;
   width: 530px;
   margin-right: 50px;
   text-align: center;
 }

 .sign-up-sidebar-first-third {
   font-size: 20px;
   margin-bottom: 15px;
   font-weight: 100;
   color: #737373;
 }

 .sign-up-sidebar-second-fourth {
   font-size: 12px;
   margin-bottom: 40px;
   color: #737373;
 }

 /* Sign Up Form */

 .sign-up-form {
   float: right;
   background: #f1f1f1;
   padding: 25px;
   font-size: 81.25%;
   color: #333;
   width: 312px;
 }

 .sign-up-form > label {
   display: block;
   margin-bottom: 6.5px;
   font-weight: bold;
 }

 .sign-up-form > input {
   height: 27px;
   border: 1px solid #d9d9d9;
   border-top: 1px solid #c0c0c0;
   border-radius: 1px;
   box-sizing: border-box;
   padding: 0 8px;
   margin-bottom: 20px;
 }

 .sign-up-form > select {
   background: #f5f5f5;
   font-weight: bold;
 }

 .sign-up-name-box-label {
   display: block;
 }

 .sign-up-first-name,
 .sign-up-last-name {
   width: 150px;
 }

 .sign-up-first-name {
   margin-right: 12px;
 }

 .sign-up-username,
 .sign-up-password,
 .sign-up-password-confirm {
   width: 100%;
 }

.sign-up-birthday-month-dropdown {
  width: 134px;
  height: 27px;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  padding-left: 6px;
  padding-right: 18px;
  margin-right: 12px;
}

.sign-up-birthday-day {
  width: 42px;
  padding: 0 8px;
  margin-right: 12px;
}

.sign-up-birthday-year {
  width: 80px;
  padding: 0 8px;
}

.sign-up-gender {
  width: 100%;
  height: 27px;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.sign-up-submit {
  float: right;
  margin-top: 22px;
  line-height: 1;
  color: #F8FFFF;
  background: #488BF9;
  padding: 8px 12px;
  border-radius: 2px;
}

/* Login Form */

.login-page {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  text-align: center;

}

.GollyGmail-logo-login {
  font-size: 30px;
  margin: 25px 0 40px;
}

.login-page-sub-header {
  font-size: 16px;
}

/*.login-form-section {
  margin: 0 auto;
  width: 274px;
  height: 500px;
  padding: 40px;

}*/

.login-page-main-header {
  font-size: 36px;
  font-weight: 100;
  margin-bottom: 20px;
  color: #555;
  text-align: center;
}

.login-form {
  background-color: #F7F7F7;
  margin: 0 auto 20px;
  width: 274px;
  height: 240px;
  padding: 40px;
  border: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
  border-radius: 2px;
}

.login-username-input,
.login-password-input {
  display: block;
  width: 256px;
  height: 42px;
  padding: 0 8px;
  text-align: left;
  background-color: #FFFFFF;
  margin: 5px auto;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
}

.login-username-input {
  margin: 120px auto 5px;
}

.login-submit {
  width: 250px;
  height: 25px;
  margin: 5px auto 0;
  line-height: 1;
  color: #F8FFFF;
  background: #488BF9;
  padding: 8px 12px;
  border-radius: 3px;
}

.signup-from-signin-link {
  display: block;
  color: #427fed;
  margin: 25px;
}

.signin-bottom-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

 /* Header */
.main-header {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}

 .header-top {
   height: 60px;
   background: #F1F1F1;
   top: 0;
   left: 0;
   border-bottom: 1px solid #e5e5e5;
 }

.GollyGmail-logo-header {
  float: left;
  width: 92px;
  height: 33px;
  line-height: 58px;
  padding: 0 30px;
  font-size: 24px;
  margin-right: 40px;
}

.searchbar {
  float: left;
  background: #FFFFFF;
  margin: 15px 0 15px 20px;
  margin-right: 0;
}

.searchbar > input {
  float: left;
  background: white;
  width: 580px;
  padding-left: 8px;
  height: 28px;
  border: 1px solid #c5c5c5;
}

.searchbar > input:focus {
  border: 1px solid #4285F4;
}


.search-button {
  background: #488BF9;
  color: #FFFFFF;
  float: left;
  text-align: center;
  margin-top: 15px;
  width: 60px;
  height: 30px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  line-height: 1.8;
}

.search-results-fixed {
  position: fixed;
  background: #ffffff;
  width: 588px;
  top: 45px;
  left: 212px;
  border: 1px solid #e5e5e5;
}

.search-result-fixed-li {
  height: 45px;
  width: 588px;
}

.search-result-fixed-li:hover {
  background: #e5e5e5;
}

.search-result-fixed-link {
  display: block;
  width: 100%;
  height: 50%;
  vertical-align: middle;
}

.search-result-subject {
  font-size: 15px;
}

.search-result-name {
  font-size: 14px;

}

.header-right {
  float: right;
  width: 100px;
  margin-right: 30px;
  margin-top: 20px;
}

.header-name {
  float: left;
  font-size: 14px;
  font-weight: 100;
}

.header-badge {
  float: right;
  background: #F4511E;
  font-size: 16px;
  margin-top: -8px;
  padding: 8px 9px;
  border-radius: 100%;
  color: #ffffff;
  font-weight: 200;
}

.account-box {
  width: 320px;
  height: 190px;
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  position: fixed;
  top: 60px;
  right: 30px;
}

.account-info {
  padding: 20px;
}

.user-info > .name {
  font-weight: bold;
  font-size: 14px;
  display: block;
  margin-bottom: 1px;
}

.user-info > .email {
  font-size: 12px;
  font-weight: 300;
  display: block;
  color: #666;
}

.signin-signup-links {
  background: #f5f5f5;
  border-top: 1px solid #ccc;
  padding: 10px 0;
}

.new-account-link,
.account-box-logout-button {
  padding: 0 12px;
  margin: 0 20px;
  background: #f8f8f8;
  font-size: 14px;
  color: #666;
  border: 1px solid #c6c6c6;
  line-height: 28px;
  border-radius: 2px;
}

.new-account-link {
  float: left;
}

.account-box-logout-button {
  float: right;
}



/* Side Navigation Bar */

 .sidenav {
   position: fixed;
   top: 120px;
   left: 10px;
   width: 160px;
   height: 35%;
   min-height: 80px;
   padding: 0 0 0 20px;
 }

 .compose-button {
   background: #d14836;
   color: white;
   width: 115px;
   height: 30px;
   font-size: 14px;
   text-align: center;
   border-radius: 2px;
 }

 .compose-button:hover {
   background: #c83929;
 }

 .sidenav-links {
   display: flex;
   flex-direction: column;
   margin-top: 10px;
   font-size: 14px;
   height: 75%;
   justify-content: center;
 }

 .sidenav-links > a {
   flex: 1;
 }

 .sidenav-links > a:hover {
   background: #eeeeee;
 }

 /* Header Navbar */

 .header-navbar {
   margin-top: 60px;
   margin-left: 212px;
   top: 112px;
   height: 45px;
   width: auto;
   border-bottom: 1px solid #e5e5e5;
 }

 .navbar-left-buttons {
   float: left;
   width: 750px;
   height: 40px;
 }

.navbar-right-buttons {
  float: left;
  width: 240px;
  height: 40px;
  margin-right: 30px;
}

.pages-and-emails {
  float: right;
  padding: 15px;
  text-align: right;
  /*font-weight: bold;*/
  font-size: 13px;
}

.first-on-page {
  float: left;
  font-weight: bold;
}

.dash-between {
  float: left;
  font-weight: normal;
}

.total-on-page {
  float: left;
  font-weight: bold;
}

.just-of {
  float: left;
  font-weight: normal;
  margin: 0 2px;
}

.total-emails-in-database {
  float: left;
  font-weight: bold;
}

.previous-page-button,
.next-page-button {
  float: right;
  margin-top: 7px;
  background: #F4F4F4;
  width: 35px;
  height: 30px;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 1px;
}

.previous-page-button {
  border-right: none;
}

/* Email Previews Table */

.email-previews-table {
  margin-top: 10px;
  margin-left: 208px;
  width: 1048px;
  width: auto;
  height: 500px;
  overflow: scroll;
}

.email-preview-item {
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  height: 40px;
  vertical-align: middle;
  line-height: 2;
}

.email-read {
  background-color: #F4F4F4;
  font-weight: normal;
}

.email-unread {

}

.email-marked {
  background: #FFFFCC;
}

.marked-box,
.starred-box,
.important-box {
  float: left;
  padding: 3px;
  margin-top: 2px;
}

.marked-box {
  margin-left: 5px;
}

.email-preview-link {
  float: left;
  padding-top: 5px;

}

.email-preview-sender {
  padding-left: 15px;
  width: 184px;
}

.email-preview-subject {

}

.subject-dash-body {
  float: left;
  margin: 5px 2px 0;
}

.email-preview-body {

}

/* Email Details */

.email-details-container {
}

.email-detail-view {
  font-size: 14px;
  color: #222222
  margin-right: 300px;
}

.email-detail-subject {
  padding: 10px 5px;
  border-bottom: 1px solid #e5e5e5;
  margin-top: -200px;
}

.email-detail-body {
  font-size: 12px;
}

/* Compose Form */

.compose-form-container {
  width: 510px;
  border: 1px solid #e5e5e5;
  bottom: 0;
  right: 25px;
  position: fixed;
}

.compose-form {
  height: 475px;
  width: 510px;
  background-color: #ffffff;
}

.compose-form-header {
  background-color: #404040;
  font-size: 14px;

}

.compose-form-header-minimize {
  float: left;
  color: #ffffff;
  width: 465px;
  padding: 12px 8px;
}

.compose-form-header-close {
  float: right;
  color: #808080;
  width: 8px;
  padding: 12px 8px;
}

.compose-form > input {
  width: 490px;
  height: 45px;
  padding: 0 10px;
  border-bottom: 1px solid #cfcfcf;
  font-size: 14px;
  color: #222;
}

.compose-form-recipient {
  resize: vertical;

  overflow-y: scroll;
  overflow-x: hidden;
}

.compose-form-subject {

}

.compose-form-body {
  height: 320px;
  width: 490px;
  padding: 10px;
  vertical-align: top;
  overflow-x: hidden;
  overflow-y: scroll;
  resize: vertical;
}

.compose-form-footer {
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  height: 45px;
}

.compose-form-button {
  height: 25px;
  margin: 5px;
  line-height: 1;
  color: #F8FFFF;
  background: #488BF9;
  padding: 3px 20px;
  border-radius: 3px;
}

/* Email Detail Page */


.email-detail-view {
  margin-left: 200px;
  margin-top: 200px;
}

   /*.sign-in {
     display: block;
     text-align: center;
   }

   .sign-in-message {
     font-size: 16px;
   }

  .logo {
    font-size: 30px;
    margin: 25px auto 20px;
    font-weight: normal;
  }

  .logo-sub-heading {
    font-size: 42px;
    display: block;
    text-align: center;

  }*/

.blue {
  color: blue;
}

.green {
  color: green;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

/* Dropdown list */

.hidden {
  display: none
}

.shown {
  display: block;
}
