/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, span h2,
p, form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
  line-height: inherit;
 }

 html {
   line-height: 1;
 }

 body {
   box-sizing: content-box;
   color: #000;
   font-size: 16px;
   font-family: sans-serif;
 }

 .group:after {
   content: '';
   display: block;
   clear: both;
 }

 input {
   background: #FFFFFF;
 }

 ul {
   list-style: none;
 }

 h1, h2, h3, h4, h5, h6 {
   line-height: 24px;
   color: #555;
   font-weight: normal;
 }

 /* Sign Up Header */

 .sign-up-header {
   height: 71px;
   background: #f1f1f1;
   border-bottom: 1px solid #e5e5e5;
   overflow: hidden;
   font-size: 81.25%;
   color: #333;
   line-height: 1;
 }

 .sign-up-nav {
   padding: 0 44px;
 }

 .sign-in-from-sign-up {
   float: right;
   margin-top: 22px;
   line-height: 1;
   color: #F8FFFF;
   background: #488BF9;
   padding: 8px 12px;
   border-radius: 2px;
 }

 /* Sign Up Content Box  */

 .sign-up-content {
   width: 950px;
   margin: 0 auto;
   padding: 23px 44px 100px;
 }

 .sign-up-title {
   font-size: 38px;
   font-weight: 300;
   margin-top: 27px;
   margin-bottom: 50px;
   color: #555;
   text-align: center;
 }

 /* Sign Up Sidebar */

 .sign-up-sidebar {
   float: left;
   width: 530px;
   margin-right: 50px;
   text-align: center;
 }

 .sign-up-sidebar-first-third {
   font-size: 20px;
   margin-bottom: 15px;
   font-weight: 100;
   color: #737373;
 }

 .sign-up-sidebar-second-fourth {
   font-size: 12px;
   margin-bottom: 40px;
   color: #737373;
 }

 /* Sign Up Form */

 .sign-up-form {
   float: right;
   background: #f1f1f1;
   padding: 25px;
   font-size: 81.25%;
   color: #333;
   width: 312px;
 }

 .sign-up-form > label {
   display: block;
   margin-bottom: 6.5px;
   font-weight: bold;
 }

 .sign-up-form > input {
   height: 27px;
   border: 1px solid #d9d9d9;
   border-top: 1px solid #c0c0c0;
   border-radius: 1px;
   box-sizing: border-box;
   padding: 0 8px;
   margin-bottom: 20px;
 }

 .sign-up-form > select {
   background: #f5f5f5;
   font-weight: bold;
 }

 .sign-up-name-box-label {
   display: block;
 }

 .sign-up-first-name,
 .sign-up-last-name {
   width: 150px;
 }

 .sign-up-first-name {
   margin-right: 12px;
 }

 .sign-up-username,
 .sign-up-password,
 .sign-up-password-confirm {
   width: 100%;
 }

.sign-up-birthday-month-dropdown {
  width: 134px;
  height: 27px;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  padding-left: 6px;
  padding-right: 18px;
  margin-right: 12px;
}

.sign-up-birthday-day {
  width: 42px;
  padding: 0 8px;
  margin-right: 12px;
}

.sign-up-birthday-year {
  width: 80px;
  padding: 0 8px;
}

.sign-up-gender {
  width: 100%;
  height: 27px;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.sign-up-submit {
  float: right;
  margin-top: 22px;
  line-height: 1;
  color: #F8FFFF;
  background: #488BF9;
  padding: 8px 12px;
  border-radius: 2px;
}

/* Login Form */

.login-page {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  text-align: center;

}

.GollyGmail-logo-login {
  font-size: 30px;
  margin: 25px 0 40px;
}

.login-page-sub-header {
  font-size: 16px;
}

/*.login-form-section {
  margin: 0 auto;
  width: 274px;
  height: 500px;
  padding: 40px;

}*/

.login-page-main-header {
  font-size: 36px;
  font-weight: 100;
  margin-bottom: 20px;
  color: #555;
  text-align: center;
}

.login-form {
  background-color: #F7F7F7;
  margin: 0 auto 20px;
  width: 274px;
  height: 240px;
  padding: 40px;
  border: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
  border-radius: 2px;
}

.login-username-input,
.login-password-input {
  display: block;
  width: 256px;
  height: 42px;
  padding: 0 8px;
  text-align: left;
  background-color: #FFFFFF;
  margin: 5px auto;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
}

.login-username-input {
  margin: 120px auto 5px;
}

.login-submit {
  width: 250px;
  height: 25px;
  margin: 5px auto 0;
  line-height: 1;
  color: #F8FFFF;
  background: #488BF9;
  padding: 8px 12px;
  border-radius: 3px;
}

.signup-from-signin-link {
  display: block;
  color: #427fed;
  margin: 25px;
}

.signin-bottom-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

 /* Header */
 .header {
   width: 100%;
   /*position: fixed;*/
 }
 /* Above */

 .topnav-above {
   background: lightgray;
   display: block;
   /*position: fixed;*/
   width: 100%;
   border-bottom: 1px solid #ccc;
 }

 .searchbar {
   float: left;
   display: block;
   margin: 15px;
   margin-right: 0;
 }

 .searchbar > input {
   float: left;
   background: white;
   width: 588px;
   height: 28px;
   border: 1px solid lightblue;
 }

 .search-button {
   float: left;
   background: #8CD9F3;
   text-align: center;
   width: 60px;
   height: 30px;
 }

 .topnav-logo {
   float: left;
   display: block;
   font-size: 24px;
   text-align: center;
   padding: 20px 0;
   width: 200px;
   height: 20px;
   margin: 0 auto;
 }

 /* Below */

.topnav-below {
  margin-left: 215px;
}

.selector,
.refresh,
.more-options,
.archive,
.report-spam,
.trash,
.move-to,
.labels {
  float: left;
  width: 70px;
  height: 30px;
  margin: 10px 0;
  text-align: center;
  background: lightgray;
  border: 1px solid gray;
}

.archive,
.report-spam,
.move-to {
  border-right: 0;
}

.selector,
.refresh,
.trash,
.labels {
  margin-right: 15px;
}


/* Side Navigation Bar */

 .sidenav {
   float: left;
   display: block;
 }

 .compose-button {
   background: #d14836;
   color: white;
   width: 115px;
   height: 30px;
   text-align: center;
   border-radius: 2px;
 }








 .sign-in {
   display: block;
   text-align: center;
 }

 .sign-in-message {
   font-size: 16px;
 }

.logo {
  font-size: 30px;
  margin: 25px auto 20px;
  font-weight: normal;
}

.logo-sub-heading {
  font-size: 42px;
  display: block;
  text-align: center;

}

.blue {
  color: blue;
}

.green {
  color: green;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

/* Dropdown list */

.hidden {
  display: none
}

.shown {
  display: block;
}

li:
