.sign-up-multiple-gmail-logo {
  width: 338px;
  height: 25px;
  background-size: contain;
  background-image: asset-url("google-logo-strip.png");
  margin: 0 auto 80px;
}

.sign-up-computer-img {
  width: 300px;
  height: 172px;
  background-size: contain;
  background-image: asset-url("google-hardware.png");
  margin: 0 auto;
}
